{%- extends 'base.html' -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-default">
			<div class="groupchat-info-text" style="text-align: center">
				<div class="groupchat-info" style="padding-bottom: 20px" align="center">
					<img src="/static/emots/emot-thinking.gif" width="30" />
					<h2 class="section-caption" id="owner-transfer-confirmation-h2">Change {{ email }}'s role to Owner?</h2>
				</div>
				<p>
					Changing {{ email }}'s role to Owner means transferring your current ownership to them and automatically being converted into a Member. If you want to regain ownership after transferring, then you'll have to contact the current owner to transfer ownership back to you.
				</p>
				<form action="/groupchats/{{ chat_id }}/members" method="post">
					<input type="hidden" name="confirm" value="true" />
					<input type="hidden" name="uuid" value="{{ uuid }}" />
					<input type="hidden" name="role" value="1" />
					<input class="btn" type="submit" value="Transfer ownership" />
				</form>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
{%- endblock -%}