{%- extends 'base.html' -%}

{%- block meta -%}
	<meta name="description" content="Downloads for various clients currently supported by Escargot, along with corresponding extras and patches." />
{%- endblock -%}

{%- block head_end -%}
	<link rel="stylesheet" href="/static/style/downloads.css?{{cache_buster}}"/>
{%- endblock -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-default">
			<div class="downloads-content" style="padding-left: 2em; padding-right: 2em">
				<div class="section-downloads-text">
					<div class="header-downloads">
						<img src="/static/dl-hdr-icon.png" width="50" style="position:relative; top:15px;" />
						<h1 class="section-caption">Downloads</h1>
						<p id="downloads-p">
							Download an Escargot-supported client or any related utilities from here.
						</p>
					</div>
				</div>
				
				<div class="clients">
					<h2 align="center">Clients</h2>
					<p id="downloads-clients-p">
						While frontends are just one of the many ways to use our service, everyone has different tastes in what they find in a messaging client, and so we offer different ways to connect to our servers with different clients.
						<br/><br/>
							The preferred way to go is to download a pre-patched client, but if you're up for challenges or want to customize your installation, then unpatched options are available.
					</p>
					
					
					<table class="download-table">
						<tr>
							<td><a href="/downloads/msn-messenger"><img src="/static/wlm-logo.png" width="128"></a></td>
							<td><a href="/downloads/msn-messenger">MSN/Windows Live Messenger</a><br>1.0-8.5, 2009<br></td>
						</tr>
						<tr>
							<td><a href="/downloads/yahoo-messenger"><img src="/static/yahoo-messenger-logo.png" width="128"></a></td>
							<td><a href="/downloads/yahoo-messenger">Yahoo! Messenger</a><br>5.0, 5.5</td>
						</tr>
					</table>

					</ul>
				</div>
				
				<div class="clients">
					<h2 align="center">Misc.</h3>
					<ul>
						<li>
							<a href="/downloads/switcher">Escargot Switcher</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	
	<style>
		.section-downloads-text {
			text-align: center;
		}

		.download-table a {
			font-size: 24px;
		}
	</style>
{%- endblock -%}