{%- extends 'base.html' -%}

{%- block content -%}
	<div class="group section content">
		<div class="group section">
			<div class="col span4-4 separator">
			</div>
		</div>
		<div class="group section section-default">
			<div class="thanks-content">
				<div class="thanks-text" style="text-align: center">
					<div class="thanks-hdr" align="center">
						<img src="/static/emots/emot-peace.gif" width="30" />
						<h1 class="section-caption" id="thanks-h1">Special Thanks</h1>
					</div>
					<p id="thanks-p" style="padding-left: 0.5em; padding-right: 0.5em">
						A special thanks to the people that made certain things possible for Escargot, inside and out of the development team.<br/>Without them, Escargot wouldn't be as complete and powerful, along with being enjoyable, as it is today.
					</p>
				</div>
				<div class="thanks-cols">
					<div class="thanks-col">
						<img src="/static/thanks/tristanleboss.png" width="50" />
						<h3 class="thanks-name">Tristan Charbonnier (tristanleboss)</h3>
						<p class="thanks-reason">
							for his research and reverse engineering of MSN Messenger's msidcrl authentication library, which resulted in the first attempt to provide secure access to Escargot with MSN 7.5 via a replica DLL, and for assistance with providing dumps of the SOAP services required by WLM 8+. Would've had to stay with the icky pipeauth method (<code>username@email.com|password</code>) without his help.
							<br/><br/>
							He also contributed to developing a replacement sound server for Messenger Plus! and a corresponding patch for version 3 of the program (those have officially been superseded with our own sound server and <a href="/downloads/msn-messenger#xtra-msgplus3">pre-patched Messenger Plus! 3 installer</a>), along with patching Mercury Messenger (no longer available) with Mateus Rick to connect to our MSN frontend. He also reverse engineered the services used for MSN's App Directory and kindly left open a test server to help us fill in the missing gaps.
						</p>
					</div>
					
					<div class="thanks-col">
						<img src="/static/thanks/cuki.png" width="50" />
						<h3 class="thanks-name">Oscar Alonso (Cuki87)</h3>
						<p class="thanks-reason">
							for assistance with WLM '09 support, support for its Circles/Groups feature, and help on reverse engineering the App Directory service. Really helped a ton. :D
						</p>
					</div>
					
					<div class="thanks-col">
						<h3 class="thanks-name">Raymonf</h3>
						<p class="thanks-reason">
							for suggesting the idea of using an import table hack for patching Escargot-targeted clients.
						</p>
					</div>
					
					<div class="thanks-col">
						<img src="/static/thanks/anima.jpg" width="50">
						<h3 class="thanks-name">Animadoria</h3>
						<p class="thanks-reason">
							for helping us a lot, especially at a time where our crew has grown distant and small. Specifically, she has located a few WLM 8.1 installers we didn't catch beforehand, and has helped a bit in merging in changes for a big update we just had in our site repository, among just being helpful to the community as a whole. It really means a lot to us, and without her things would be quite harder for us to manage (and less interesting).
						</p>
					</div>
					
					<div class="thanks-col">
						<h3 class="thanks-name">
							Jonathan Kay
						</h3>
						<p class="thanks-reason">
							for providing us with dumps of the SOAP services WLM 8+ needed and for his overall insider knowledge of the MSN Messenger protocol and service.
						</p>
					</div>
					
					<div class="thanks-col">
						<img src="/static/thanks/mateus.png" width="50" />
						<h3 class="thanks-name">Mateus Rick</h3>
						<p class="thanks-reason">
							for creating a sound server patch for Messenger Plus! Live (also superseded with our own <a href="/downloads/msn-messenger#xtra-msgplus4">pre-patched Messenger Plus! Live installer</a>) and for his efforts to patch Mercury Messenger (no longer available) to connect to our MSN frontend.
						</p>
					</div>
					
					<div class="thanks-col">
						<img src="/static/thanks/patchou.png" width="50" />
						<h3 class="thanks-name">
							Patchou
						</h3>
						<p class="thanks-reason">
							for helping us figure out how to repackage the <a href="/downloads/msn-messenger#xtra-msgplus3">Messenger Plus! 3 installer</a> so we could offer our sound server patches without requiring us to offer them separately. And also for creating such a cool application in the first place. <img src="/static/emots/emot-wink.gif" />
						</p>
					</div>
					
					<div class="thanks-col">
						<img src="/static/thanks/chetsimpson.png" width="50" />
						<h3 class="thanks-name">Chet Simpson</h3>
						<p class="thanks-reason">
							for major assistance in documenting most of Yahoo! Messenger's protocol and configuration services, along with sharing knowledge of Yahoo! Messenger's internals. We're serious when we say that without his help, the Yahoo! Messenger frontend would really be a mess.
						</p>
					</div>
					
					<div class="thanks-col">
						<h3 class="thanks-name">enhanox</h3>
						<p class="thanks-reason">
							for archiving almost all available MSN Messenger clients for Windows.
						</p>
					</div>
					
					<div class="thanks-col">
						<h3 class="thanks-name">walkingphasers</h3>
						<p class="thanks-reason">
							for opening a contest that got the community to create suggestions for text ads on the MSN frontend, and for uncovering the text ad system at all. More importantly, we thank him for moving Escargot forward as Escargot's creator, valtron, was dealing with anxiety during a good chunk of 2018, and the year after juggling a full time job and school. Phaser has also coded the meat of the Yahoo! Messenger frontend and WLM '09 support (among many improvements to the backend that have made Escargot more tolerable to use). He also helped in getting the MSN AppDirectory services working. We honestly can't believe what would've happened if he didn't jump into the scene...
						</p>
					</div>
					
					<div class="thanks-col">
						<img src="/static/thanks/craftplacer.png" width="50" />
						<h3 class="thanks-name">
							<a href="https://craftplacer.github.io" target="_blank">Craftplacer</a>
						</h3>
						<p class="thanks-reason">
							for aiding us with our issue of installing WLM '09 and getting it to work. Without him, we'd be scratching our heads over it for who knows how long.
						</p>
					</div>
				</div>
				
				<h2 align="center" style="padding-left: 3em; padding-right: 3em; padding-bottom: 1em">
					<em>
						...and finally, a big thanks to our ever-so-expanding community and userbase.
						<br/><br/>
						Thanks for using our service, pointing out bugs that needed fixing and features you'd like to see, sticking around during our three years of operation as you chatted away with friends, old and new, and for recommending our service to people that weren't aware of any other options. We give you our gratitude for being loyal users and volunteers of the project.
						<br/><br/>
						<img src="/static/emots/emot-smile.gif" title="Thanks for everything. Truly!" height="30">
					</em>
				</h2>
			</div>
		</div>
		<div class="group section">
			<div class="col span4-4 separator content-end spin180"></div>
		</div>
	</div>
	
	<style>
		.thanks-cols {
			padding-top: 4em;
			padding-left: 1em;
			padding-bottom: 1em;
		}
		
		.thanks-col {
			padding-bottom: 1em;
			text-align: center;
		}
		
		.thanks-name {
			margin-top: 0px;
		}
		
		img {
			border-radius: 5px;	
		}

		.thanks-reason {
			font-size: 12px;
			padding-left: 2.5em;
			padding-right: 2.5em;
		}
	</style>
{%- endblock -%}