{%- extends 'base-common.html' -%}

{%- from '_funcs.html' import section, err -%}

{%- block content -%}
	<div id="id" title="wlm-puid"></div>
	{%- call section('off-white', "Windows Live Messenger PUID Generator (For 8.1+ only)", id = 'puid') -%}
		<div id="puid-text">
			<p id="puid-desc-p1">This page will generate your Escargot account's PUID (Passport Unique ID) in a format compatible with Windows Live Messenger 8.1 and above, which can be used in utilities like backing up user generated content from your account (winks, emoticons, etc.). Just submit your email and password in the form below and your PUID will be generated for you.</p>
			<p id="puid-desc-p2">Note that this won't be useful if you have version 8.0 or below of WLM as they use a different method of generating your account's unique ID that does not require involvement of our servers. This also won't work if you plan to use your actual Microsoft account on this and haven't registered it on Escargot: to get your Microsoft account's PUID go <a href="https://account.live.com/editprof.aspx" target="_blank">here</a>.</p>
			{% if errors %}
				<div id="errors" class="errors-warn">{{ errors['puid'] }}</div>
			{% else %}
				{% if puid %}
					<h2 id="puid-caption">Your PUID:</h2>
					<p id="puid-value">{{ puid }}</p>
				{% endif %}
			{% endif %}
		</div>
		
		<form id="puid-form" role="form" method="post">
			<label id="email-label" for="email">Email {% if errors %}<div class="err">{{ err(errors, 'email') }}</div>{% endif %}</label>
			<input class="input-puid" type="email" name="email" id="email" placeholder="your@email.com" {% if email != None %}value="{{ email }}"{% endif %} required/>
			<br/>
			<label id="password-label" for="password">Password</label>
			<input class="input-puid" type="password" name="password" placeholder="6+ characters" required pattern=".{6,}"/>
			<br/>
			<button id="genpuid-btn" type="submit">
				Generate PUID
			</button>
		</form>
		
		<style>
			.err {
				display: inline-block;
			}
			
			#puid-text {
				text-align: center;
			}
			
			#puid-value {
				font-family: monospace;
				font-size: 24px;
			}
			
			#puid-form {
				margin-top: 3em;
			}
			
			#errors {
				position: relative;
				right: 0.8em;
			}
			
			.input-puid {
				width: 50%;
				font-size: 20px;
				display: block;
			}
			
			#genpuid-btn {
				font-size: 17.5px;
			}
		</style>
	{%- endcall -%}
{%- endblock -%}
