.connecting-text {
	position: relative;
	text-align: center;
}

.header-connecting {
	position: relative;
}

.connecting-text {
	position: relative;
	text-align: center;
}

.connecting-section {
	position: relative;
	margin-left: 80px;
	padding-bottom: 50px;
	margin-right: 40px;
}

.connecting-section-text {
	position: relative;
	margin-left: 80px;
}

.connecting-section-caption {
	position: relative;
	display: inline-block;
	top: -45px;
	margin-bottom: 50px;
}

@media screen and (max-width: 1882px) {
	.section-green					{ overflow: auto }
	.connecting-section-caption		{ top: 0 }
}